<% @users.each do |user| %>
  <div>
    <%= link_to "#{user.name}", profile_path(user.profile) %>
    <% if !current_user.contacted?(user) %>
      <%= link_to "Add Friend", user_friendships_path(friend: user), method: :post %>
    <% end %>
  </div>
<% end %>
