<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to OdinBook</h1>
    <p>
    You should now login, complete your profile and make some friends
    </p>
    <p>
    Remember, this is basically Tinder for nerds
    </p>
    <p>
    Have a great day. If you have any questions about the site please direct them to Kevin Mulhern. Resident Genius
    </p>
  </body>
</html>

