<%= link_to 'New Post', new_user_post_path %>
<% @posts.each do |post| %>
  <%= link_to(post_path(post), class: "post") do %>
    <p><%= post.author %></p>
    <p><%= post.content %></p>
  <% end %>
<% end %>
