<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3><%= link_to 'Create New Post', new_post_path %></h3>
    </div>
  </div>
  <% @posts.each do |post| %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= link_to(post_path(post)) do %>
          <div class="posts">
            <div class="author"><%= post.author %></div>
            <div class="content"><%= post.content %></div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
